<div class="column">
	<%= link_to source do %>
		<article class="source-card ui segment" style="position: relative;">
			<div class="image-meta-container">
				<div class="ui top left attached label inverted rating-container" title="Rating">
					<i class="heart icon"></i><%= source.rating %>
				</div>
				<div class="ui top right attached label inverted rating-container" title="<%= Source::KINDS[source.kind.to_i] %>">
				<i class="icon <%= kind_to_icon source.kind %>"></i>
				</div>
				<%= image_tag(source.avatar.url, class: "thumbnail") %>
			</div>

			<div class="meta-container">
			</div>

			<div class="content-container">
				

				<h3 class="title ui header">
					
					<%= source.title %>
				</h3>
				<h4 class="description"><%= truncate source.description, length: 83 %></h4>

				<div class="tags-container">
					<div class="label-group tags ui tiny labels">
						<% source.categories.each do |category| %>
							<%= render "categories/label", category: category %>
						<% end %>
					</div>

					<% if source.user %>
						<div class="user-tag"> 
							<%= link_to source.user.username, users_path(source.user) %> -
							<%= time_ago source.created_at %>
							<span class="price">
								<%= price_to_description source.price %>
							</span>
						</div>
					<% end %>

				</div>
			</div>
			
		</article>
	<% end %>
</div>