<article class="source-container ui segment">
	<%= link_to @source.url, target: '_blank' do %>
		<%= image_tag(@source.avatar.url, class: "pic") %>
	<% end %>

	<div class="meta-container">
		<span class="rating-container" title="Rating">
			<i class="heart outline icon"></i><%= @source.rating %>
		</span>
		<span class="r">
			<i class="icon <%= kind_to_icon @source.kind %>"></i><%= Source::KINDS[@source.kind.to_i] %>
		</span>
	</div>

	<div class="content-container">
		<%= link_to @source.url, target: '_blank' do %>
			<h3 class="title ui header"><%= @source.title %></h3>
		<% end %>

		<div class="tags-container">
			<div class="label-group tags ui tiny labels">
				<% @source.categories.each do |category| %>
					<%= render "categories/label", category: category %>
				<% end %>
			</div>
		</div>

		<div class="button-container">
			<%= vote_button_html @source %>
		</div>


		<% if @source.user %>
			<div class="user-tag"> 
				<%= link_to @source.user.username, users_path(@source.user) %> -
				<%= time_ago @source.created_at %>
				<span class="price">
					<%= price_to_description @source.price %>
				</span>
			</div>
		<% end %>


		<div class="description"><%= @source.description %></div>

	</div>
</article>

<div class="ui comments">
	<h3 class="ui dividing header">Comments</h3>
	<% @source.comments.each do |comment| %>
		<div class="comment">
	    <div class="content">
	      <a class="author"><%= comment.user.username %></a>
	      <div class="metadata">
	        <span class="date"> - <%= time_ago comment.created_at %></span>
	      </div>
	      <div class="text">
	        <%= comment.user.username %>
	      </div>
	      <div class="actions">
	        <a class="reply">Reply</a>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>

<script>
	window.sourceShow.component.attachTo('.source-container', {sourceId: <%= @source.id %>});

	<% if current_user_completed_source? @source %>
		$(document).trigger('completedSources:created', {completedSource: <%= raw get_completed_source(@source).to_json %>})
	<% end %>

	<% if current_user_vote(@source).present? %>
		$(document).trigger('votes:created', {vote: <%= raw current_user_vote(@source).to_json %>})
	<% end %>
</script>